@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-x {
  @apply overflow-x-auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-x::-webkit-scrollbar {
  display: none;
}
