@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("http://fonts.cdnfonts.com/css/clash-display");

* {
  font-family: "Clash Display", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.scroll-x {
  @apply overflow-x-auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-x::-webkit-scrollbar {
  display: none;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.dropdown-menu-option {
  @apply dark:!text-white1 dark:!bg-black1 bg-white py-[10px] pl-[14px] cursor-pointer;
}
